*{
    font-family: arial,sans-serif;
}

header{
    background: rgb(248, 246, 246);
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;  
    border: 1px solid;
}

header ul {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  header ul li {
    margin-right: 30px;
  }

main{
    display: flex;
    justify-content: space-between;
}

main section.esquerda, .direita{
    background: rgb(248, 246, 246);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40vh;
    height: 100vh;
    font-size: 10px;
}

main section div.suas-series, .recomendacoes, .pessoas, .estatisticas{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid;
    height: 50vh;
}

main section.centro{
    width:150vh;
    display: flex;
    justify-content: center;
}

main section div.caixas{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height:50vh;
    width: 20vh;
}

main section div.series{
    background-color: white;
    width: 100%;
    height: 20%;
    border: 1px solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main section div.pess{
        display: flex;
        flex-direction:column;
        justify-content: space-around;
        align-items: center;
        height:50vh;
        width: 20vh;    
}

main section div.pess p{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 120px;
    height:5vh;
    width: 5vh;
}

main section.contato{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 30%;
    height: 100%;
}

button{
    width: 100px;
    height: 25px;
    background-color: #e9e3e3;
    
}

textarea{
    resize: none;
}

label, input{
    margin: 5px 0;
}

form{
    width:40%;
}