*{
    font-family: arial,sans-serif;
}

header a{
    color: white;
}

header div.cabecalho{
    width:1440;
    height: 73px;
    background-color: #1C3EB7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    border-width: 1px;
}

header div div a.entrar{
    margin-right: 15px;
}


header div div.logo{
    margin-left: 15px;
}

header div div.perfil{
    color: black;
    display: flex;
    align-items: center;
}

header div a.fotoperfil{
    margin-right: 15px;
    margin-top: 15px;
    margin-left: 15px;
}






main{
    display: flex;
    justify-content: space-between;
    width:100%;
    height: 100vh;
}

main section.esquerda, .direita{
    background: rgb(248, 246, 246);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40vh;
    height: 100vh;
    font-size: 10px;
}

main section div.suas-series, .recomendacoes, .pessoas, .estatisticas{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid;
    height: 50vh;
}

main section.centro{
    width:150vh;
    display: flex;
    flex-direction: column;
    margin: 30px;
}

main section div.caixas{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height:50vh;
    width: 20vh;
}

main section div.series{
    background-color: white;
    width: 100%;
    height: 20%;
    border: 1px solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main section div.pess{
        display: flex;
        flex-direction:column;
        justify-content: space-around;
        align-items: center;
        height:50vh;
        width: 20vh;    
        
}

main section div.pess p{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 120px;
    height:5vh;
    width: 5vh;
    background-color: rgb(104, 168, 252);
}

main .contato, .cadastro{
    display: flex;
    align-items:center;
    justify-content: center;
    width:100%;
}

main section.contato div{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 50vh;
    height: 100%;
}


main .contato h1{
    text-align: center;
}

main .conheca{
    display:flex;
    justify-content: space-around;
    width:80vh;
}

main .time{
    display:flex;
}

main .foto{
    display: flex;
    align-items: end;
    justify-content: center;
    width:10vh;
}

main .logos{
    display:flex;
    flex-direction: column;
    align-items: end;
}

main .logos img{
    width:20px;
}

main .centro h2{
    margin-top: 10vh;
}

main .centro h1{
    text-align: center;
}

main .log{
    display: flex;
    align-items:center;
    justify-content: center;
}

main .pagina-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vh;
    margin-right: 35px;
}

main .pagina-login img{
    width: 100px;
    margin-top: 30px;
    margin-bottom: 40px;
}

button{
    width: 100px;
    height: 25px;
    background-color: #e9e3e3;
}

textarea{
    resize: none;
}

label, input{
    margin: 5px 0;
}

form{
    width:40%;
}

footer{
    display: flex;
    justify-content: space-evenly;
    background-color:black;
}
footer a{
    color: white;
}


