<footer>
  <div class="containerFooter">
    <div class="logo-icon">
      </div>
    <div class="footerLinks">
      <a href="/contato">Contato</a>
      <a href="/about">Quem Somos</a>
      <!-- <a href="/faq">FAQ</a> -->
    </div>
  </div>
</footer>




</body>
</html>