<%- include('./partials/head') %>
<%- include('./partials/header') %>
    <main>
        <section class="centro-about">
            <h1>Quem somos?</h1>
            <p>Rede social para você catalogar filmes e séries que assistiu, que está assistindo ou que ainda quer assistir. </p>
            <p>Compartilhe com amigos seus comentários sobre os filmes e veja o que eles estão achando também.</p>
            <h2>Conheça nosso time:</h2>
            <div class="conheca">
                <div class="time">
                    <div class="foto">
                        <img src="/images/perfil.png" alt="fotoperfil">
                    </div>
                    <div class="logos">
                        <p>Stéphanie</p>
                        <img src="/images/logo-instagram.png" alt="logo-instagram">
                        <img src="/images/logo-twitter.png" alt="logo-twitter">
                        <img src="/images/logo-github.png" alt="logo-github">
                    </div> 
                </div>
                <div class="time">
                    <div class="foto">
                        <img src="/images/perfil.png" alt="fotoperfil">
                    </div>
                   
                    <div class="logos">
                        <p>Vinícius</p>
                        <img src="/images/logo-instagram.png" alt="logo-instagram">
                        <img src="/images/logo-twitter.png" alt="logo-twitter">
                        <img src="/images/logo-github.png" alt="logo-github">
                    </div> 
                </div>
                <div class="time">
                    <div class="foto">
                        <img src="/images/perfil.png" alt="fotoperfil">
                    </div>
                    <div class="logos">
                        <p>Willian</p>
                        <img src="/images/logo-instagram.png" alt="logo-instagram">
                        <img src="/images/logo-twitter.png" alt="logo-twitter">
                        <img src="/images/logo-github.png" alt="logo-github">
                    </div> 
                </div>
            </div>
        </section>
    </main>
    <%- include('./partials/footer') %>