<%- include('./partials/head') %> <%- include('./partials/header') %>
<main>
  <section class="section-estatisticas">
    <h1>Suas estatísticas</h1>
    <div class="div-estatisticas">
      <div class="estat-filmes">
        <h3>Filmes</h3>
        <p>Número de filmes assistidos</p>
        <p>X horas assistidas</p>
        <p>X horas para assistir toda lista</p>
        <h3>Gêneros favoritos</h3>
        <img src="/images/grafico.png" alt="">
      </div>
      <div class="estat-series">
        <h3>Séries</h3>
        <p>Número de séries assistidas</p>
        <p>X episodios assistidas</p>
        <p>X horas para assistir toda lista</p>
        <h3>Gêneros favoritos</h3>
        <img src="/images/grafico.png" alt="">
      </div>
    </div>
  </section>
</main>

<%- include('./partials/footer') %>
