<%- include('./partials/head') %>
<%- include('./partials/header') %>
    
    <main>
                   
        <section class="centro">
            <h1>FAQ</h1>
        </section>    
           
    </main>
    
    <%- include('./partials/footer') %>