<%- include('./partials/head') %> <%- include('./partials/header') %>
<main>
  <section class="esquerda">
    <div class="suas-series">
      <h1>Sua Lista</h1>
      <div class="caixas">
        <div>
          <img src="/images/em-alta-eternos.jpeg" alt="" />
        </div>
        <div>
          <img src="/images/em-alta-duna.jpeg" alt="" />
        </div>
        <div>
          <img src="/images/em-alta-gucci.jpeg" alt="" />
        </div>
        <a href="/sua-lista">Ver mais</a>
      </div>
    </div>
    <div class="estatisticas">
      <h1>Estatísticas</h1>
      <a href="/estatisticas">Ver mais</a>
    </div>
  </section>
  <section class="centro-home">
    <h1>PÁGINA INICIAL</h1>
    <a href="/criar">Criar um post</a>
    <div class="estrelas">
      <h3>Star Wars - O Império Contra Ataca</h3>
      <div class="post-sw">
        <img class="filme-img" src="/images/starwarsbom.png" alt="" />
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident ex
          quisquam optio repellendus, deserunt consectetur. Temporibus quidem
          tempora possimus sequi. Aliquid rerum labore incidunt deleniti magni
          ab ipsum veritatis porro.
        </p>
      </div>
      <div class="post">
        <img class="avatar" src="/images/avatar-1.jpeg" alt="Perfil" />
        <div>
          <img class="estrela-img" src="/images/estrela.png" alt="" />
          <img class="estrela-img" src="/images/estrela.png" alt="" />
          <img class="estrela-img" src="/images/estrela.png" alt="" />
          <img class="estrela-img" src="/images/estrela.png" alt="" />
          <img class="estrela-img" src="/images/estrela.png" alt="" />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit quo
            esse aliquam accusamus ducimus quaerat, animi sequi nobis beatae
            nemo fugit consequuntur sapiente reiciendis quam a repellendus magni
            nihil minima.
          </p>
        </div>
      </div>

      <a href="">Adicionar a minha lista</a>
    </div>

    <div class="estrelas">
      <h3>Star Wars - A Ascensão Skywalker</h3>
      <div class="post-sw">
        <img class="filme-img" src="/images/starwarsruim.jpg" alt="" />
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident ex
          quisquam optio repellendus, deserunt consectetur. Temporibus quidem
          tempora possimus sequi. Aliquid rerum labore incidunt deleniti magni
          ab ipsum veritatis porro.
        </p>
      </div>
      <div class="post">
        <img class="avatar" src="/images/avatar-2.png" alt="Perfil" />
        <div>
          <img class="estrela-img" src="/images/estrela.png" alt="" />
          <img class="estrela-img" src="/images/estrela.png" alt="" />
          <img class="estrela-img" src="/images/estrela.png" alt="" />
          <img class="estrela-img" src="/images/estrela.png" alt="" />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Error
            voluptatibus laborum minus unde sit! Ipsa nam blanditiis voluptatum
            expedita odio tempora in sed fuga, ratione iusto cumque
            voluptatibus, reiciendis alias!
          </p>
        </div>
      </div>

      <a href="">Adicionar a minha lista</a>
    </div>


    
    <div class="estrelas">
      <h3>O Senhor dos Anéis</h3>
      <div class="post-sw">
        <img class="filme-img" src="/images/senhor.png" alt="" />
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident ex
          quisquam optio repellendus, deserunt consectetur. Temporibus quidem
          tempora possimus sequi. Aliquid rerum labore incidunt deleniti magni
          ab ipsum veritatis porro.
        </p>
      </div>
      <div class="post">
        <img class="avatar" src="/images/avatar-3.jpeg" alt="Perfil" />
        <div>
          <img class="estrela-img" src="/images/estrela.png" alt="" />
          <img class="estrela-img" src="/images/estrela.png" alt="" />
          <img class="estrela-img" src="/images/estrela.png" alt="" />
          <img class="estrela-img" src="/images/estrela.png" alt="" />
          <img class="estrela-img" src="/images/estrela.png" alt="" />
          
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Error
            voluptatibus laborum minus unde sit! Ipsa nam blanditiis voluptatum
            expedita odio tempora in sed fuga, ratione iusto cumque
            voluptatibus, reiciendis alias!
          </p>
        </div>
      </div>

      <a href="">Adicionar a minha lista</a>
    </div>


    <div class="imagens-lista">
      <h2>em alta</h2>
      <div>
        <a href="/pagina-filme"
          ><img src="/images/em-alta-aranhaverso.jpeg" alt=""
        /></a>
        <img src="/images/em-alta-caca-fantasma.jpeg" alt="" />
        <img src="/images/em-alta-duna.jpeg" alt="" />
        <img src="/images/em-alta-eternos.jpeg" alt="" />
      </div>
    </div>
  </section>
  <section class="direita">
    <div class="recomendacoes">
      <h1>Recomendações</h1>
      <div class="caixas">
        <div class="series">
          <img src="/images/em-alta-venon.jpeg" alt="" />
        </div>
        <div class="series">
          <img src="/images/em-alta-aranhaverso.jpeg" alt="" />
        </div>
        <div class="series">
          <img src="/images/em-alta-homem-aranha.jpeg" alt="" />
        </div>
        <a href="/recomendacoes">Ver mais</a>
      </div>
    </div>
    <div class="pessoas">
      <h1>Pessoas</h1>
      <div class="pess">
        <img src="/images/avatar-1.jpeg" alt="" />
        <img src="/images/avatar-2.png" alt="" />
        <img src="/images/avatar-3.jpeg" alt="" />
        <img src="/images/avatar-4.jpg" alt="" />
      </div>
    </div>
    <a href="">Ver mais</a>
  </section>
</main>
<%- include('./partials/footer') %>
