<%- include('./partials/head') %>
<!-- <%- include('./partials/header') %> -->
    <main>
        <div class='main-teste'>
            <div class="imagens-login">
                
            </div>
        <div class="pagina-login">
                <img src="/images/logo.png" alt="">
                <form class="">
                    <input required="required" type="text" id="nome" name="nome" placeholder="Username or e-mail"><br>
                    <input type="password" id="senha" name="senha" placeholder="Password"><br>
                    <button type="submit">Sign In</button>
                    <p>Ainda não possui uma conta?</p>
                    <a href="/cadastro">Criar nova conta!</a>
            </div>
        </div>
    </main>
    <%- include('./partials/footer') %>