<%- include('./partials/head') %> <%- include('./partials/header') %>
<main>
  <section class="centro-home">
    <h1>homem-aranha no aranhaverso</h1>
    <div class="filme">
      <img src="/images/em-alta-aranhaverso.jpeg" alt="" />
      <div class="movie">
          <h3>Informações do Filme</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur quos eveniet ex aliquam saepe quam. Aperiam cum velit similique possimus recusandae, harum omnis, repellat magnam veniam beatae aliquid dignissimos maiores.</p>
       <h3>Sinopse</h3>
          <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores fuga
          cumque, reprehenderit distinctio, enim non, aliquam a sint eaque
          suscipit nobis neque unde vitae? Non tempore dolore ab vitae suscipit!
        </p>
      </div>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/SS6ABPkfmBE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div>
        <a href="">Adicionar a minha lista</a>
        <a href="">Marcar como assistido</a>
    </div>
    <div>
        <h3>Comentários</h3>
        <div class="post">
          <img class="avatar" src="/images/avatar-1.jpeg" alt="Perfil" />
          <div>
            <img class="estrela-img" src="/images/estrela.png" alt="" />
            <img class="estrela-img" src="/images/estrela.png" alt="" />
            <img class="estrela-img" src="/images/estrela.png" alt="" />
            <img class="estrela-img" src="/images/estrela.png" alt="" />
            <img class="estrela-img" src="/images/estrela.png" alt="" />
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit quo
              esse aliquam accusamus ducimus quaerat, animi sequi nobis beatae
              nemo fugit consequuntur sapiente reiciendis quam a repellendus magni
              nihil minima.
            </p>
          </div>
        </div>
        <div class="post">
          <img class="avatar" src="/images/avatar-2.png" alt="Perfil" />
          <div>
            <img class="estrela-img" src="/images/estrela.png" alt="" />
            <img class="estrela-img" src="/images/estrela.png" alt="" />
            <img class="estrela-img" src="/images/estrela.png" alt="" />
            <img class="estrela-img" src="/images/estrela.png" alt="" />
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit quo
              esse aliquam accusamus ducimus quaerat, animi sequi nobis beatae
              nemo fugit consequuntur sapiente reiciendis quam a repellendus magni
              nihil minima.
            </p>
          </div>
        </div>
        </div>
  </section>
</main>
<%- include('./partials/footer') %>
