<%- include('./partials/head') %> <%- include('./partials/header') %>
<main>
  <section class="imagens-lista">
    <h1>Minha Lista</h1>
    <div>
      
      
      <img src="/images/em-alta-aranhaverso.jpeg" alt="" />
      <img src="/images/em-alta-caca-fantasma.jpeg" alt="" />
      <img src="/images/em-alta-duna.jpeg" alt="" />
      <img src="/images/em-alta-eternos.jpeg" alt="" />
      <img src="/images/em-alta-venon.jpeg" alt="" />
      <img src="/images/em-alta-homem-aranha.jpeg" alt="" />

      <img src="/images/em-alta-homem-aranha.jpeg" alt="" />
   
    </div>
    

   
    
  </section>
</main>

<%- include('./partials/footer') %>
